In [29]:
import pandas as pd

#using lists
student_data = [
    [100, 90, 10],
    [90,70,7],
    [120, 100, 14],
    [80, 50, 2]
]
pd.DataFrame(student_data, columns=['iq', 'marks', 'package', ])

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [30]:
#using lists
student_data = [
    [100, 90, 10],
    [90,70,7],
    [120, 100, 14],
    [80, 50, 2]
]
pd.DataFrame(student_data)

#hanya menghasilkan kolom biasa tanpa adanya nama dari kolom

     0    1   2
0  100   90  10
1   90   70   7
2  120  100  14
3   80   50   2

In [31]:
#using lists
student_data = [
    [100, 90, 10],
    [90,70,7],
    [120, 100, 14],
    [80, 50, 2]
]

df = pd.DataFrame(student_data, columns=['iq', 'marks', 'package', ])
df

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [32]:
df.columns = ['a', 'b', 'c']
df

#jika ingin mengganti nama kolom

     a    b   c
0  100   90  10
1   90   70   7
2  120  100  14
3   80   50   2

In [33]:
#using dictionary
student_dict = {
    'iq': [100, 90, 80, 120, 0, 0],
    'marks': [80, 70, 100, 90, 0, 0],
    'package': [10, 7, 14, 2, 0, 0]
}
students = pd.DataFrame(student_dict)
students

    iq  marks  package
0  100     80       10
1   90     70        7
2   80    100       14
3  120     90        2
4    0      0        0
5    0      0        0

In [34]:
students[['iq','marks']]

#untuk hanya menghasilakm outuput variabel iq dan marks

    iq  marks
0  100     80
1   90     70
2   80    100
3  120     90
4    0      0
5    0      0

In [35]:
data = pd.read_csv("ms_harga_harian.csv")
data

#membaca data yang dimasukkan

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10
...,...,...,...,...,...,...
45013,PROD-0000037,2008-12-31 00:00:00,CABANG-065,5280,5060,70
45014,PROD-0000038,2008-12-31 00:00:00,CABANG-065,6270,5960,90
45015,PROD-0000039,2008-12-31 00:00:00,CABANG-065,5640,5350,130
45016,PROD-0000040,2008-12-31 00:00:00,CABANG-065,15380,14570,80
45017,PROD-0000041,2008-12-31 00:00:00,CABANG-065,14450,13600,90

In [36]:
data.shape
#untuk mengetahui jumlah data dan kolom

(45018, 6)

In [37]:
print(data.shape)
print(data.columns)

#untuk mengetahui jumlah data dan nama kolom

(45018, 6)
Index(['kode_produk', 'tgl_berlaku', 'kode_cabang', 'harga_berlaku_cabang',
       'modal_cabang', 'biaya_cabang'],
      dtype='object')

In [38]:
data.head()

#mencari data awal. data awal hanya berlaku sampai 5 barisan saja jika tidak ada perintah batasan

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10

In [39]:
data.head(5)

#mencari 5 data awal

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10

In [40]:
data.tail()

#mencari data terakhir pada data

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
45013,PROD-0000037,2008-12-31 00:00:00,CABANG-065,5280,5060,70
45014,PROD-0000038,2008-12-31 00:00:00,CABANG-065,6270,5960,90
45015,PROD-0000039,2008-12-31 00:00:00,CABANG-065,5640,5350,130
45016,PROD-0000040,2008-12-31 00:00:00,CABANG-065,15380,14570,80
45017,PROD-0000041,2008-12-31 00:00:00,CABANG-065,14450,13600,90

In [41]:
data.tail(7)
#mencari 7 data terakhir dari data

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
45011,PROD-0000035,2008-12-31 00:00:00,CABANG-065,6190,5920,110
45012,PROD-0000036,2008-12-31 00:00:00,CABANG-065,32200,30820,310
45013,PROD-0000037,2008-12-31 00:00:00,CABANG-065,5280,5060,70
45014,PROD-0000038,2008-12-31 00:00:00,CABANG-065,6270,5960,90
45015,PROD-0000039,2008-12-31 00:00:00,CABANG-065,5640,5350,130
45016,PROD-0000040,2008-12-31 00:00:00,CABANG-065,15380,14570,80
45017,PROD-0000041,2008-12-31 00:00:00,CABANG-065,14450,13600,90

In [42]:
data[2:7]

#data dari 2 hingga 6

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20

In [43]:
data[2:12:2]

#data dari 2 hingga 11 dengan selisih 2

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30

In [44]:
data [(data['modal_cabang'] < 5000)]

#mencari data yang di variabel modal_cabang kurang dari 5000

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30
...,...,...,...,...,...,...
44988,PROD-0000012,2008-12-31 00:00:00,CABANG-065,3720,3520,80
44993,PROD-0000017,2008-12-31 00:00:00,CABANG-065,1310,1250,10
45002,PROD-0000026,2008-12-31 00:00:00,CABANG-065,910,870,20
45006,PROD-0000030,2008-12-31 00:00:00,CABANG-065,4240,4040,0
45008,PROD-0000032,2008-12-31 00:00:00,CABANG-065,5210,4970,30

In [45]:
df5000 = data[(data["modal_cabang"]<5000)]
df5000['kode_cabang'].unique()

#untuk menghasilkan data yang tidak ada samanya (unique)

array(['CABANG-039', 'CABANG-047', 'CABANG-065'], dtype=object)

In [46]:
data['tambahan_modal'] = data['modal_cabang'] + 5000
data.head()

#untuk menghasilkan hasil tambahan 5000 pada data modal cabang

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860

In [47]:
produk = pd.read_csv('ms_produk.csv')
produk

,kode_produk,kode_kategori,nama_produk,unit,kode_satuan
0,PROD-0000001,KTG-003,bawang merah 1kg,1,kg
1,PROD-0000002,KTG-003,bawang putih 1 kg,1,kg
2,PROD-0000003,KTG-003,buncis 1 kg,1,kg
3,PROD-0000004,KTG-003,kacang panjang 1 kg,1,kg
4,PROD-0000005,KTG-003,kacang hijau 1 kg,1,kg
5,PROD-0000006,KTG-003,kentang 1 kg,1,kg
6,PROD-0000007,KTG-003,ketimun 1 kg,1,kg
7,PROD-0000008,KTG-003,kobis 1 kg,1,kg
8,PROD-0000009,KTG-003,tomat 1 kg,1,kg
9,PROD-0000010,KTG-003,ubi kayu basah 1 kg,1,kg
10,PROD-0000011,KTG-003,ubi jalar 1 kg,1,kg
11,PROD-0000012,KTG-003,wortel 1 kg,1,kg
12,PROD-0000013,KTG-002,susu kotak (800 ml),1,ktk
13,PROD-0000014,KTG-002,telur ayam ras 1 kg,1,kg
14,PROD-0000015,KTG-002,telur ayam kampung 1 kg,1,kg
15,PROD-0000016,KTG-002,mie instant 1 kotak (40 bungkus),40,bks
16,PROD-0000017,KTG-002,air mineral 600 ml,1,btl
17,PROD-0000018,KTG-002,jus kesehatan 600 ml,1,btl
18,PROD-0000019,KTG-002,nasi goreng instant (1 ons),1,bks
19,PROD-0000020,KTG-002,snack gurih 1 ons,1,ons
20,PROD-0000021,KTG-002,kacang goreng 1 kg,1,kg
21,PROD-0000022,KTG-002,kacang mete 1 kg,1,kg
22,PROD-0000023,KTG-002,markisa 600 ml,1,btl
23,PROD-0000024,KTG-002,bumbu fried chicken,1,bks
24,PROD-0000025,KTG-002,susu kotak 1 l,1,btl
25,PROD-0000026,KTG-002,minuman probiotik,1,btl
26,PROD-0000027,KTG-001,jeruk 1 kg,1,kg
27,PROD-0000028,KTG-001,apel 1 kg,1,kg
28,PROD-0000029,KTG-001,alpukat 1 kg,1,kg
29,PROD-0000030,KTG-001,belimbing 1 kg,1,kg
30,PROD-0000031,KTG-001,durian 1 kg,1,kg
31,PROD-0000032,KTG-001,kelapa muda,1,buah
32,PROD-0000033,KTG-001,mangga 1 kg,1,kg
33,PROD-0000034,KTG-001,Manggis 1 kg,1,kg
34,PROD-0000035,KTG-001,nenas 1 kg,1,kg
35,PROD-0000036,KTG-001,nangka 1 kg,1,kg
36,PROD-0000037,KTG-001,pepaya 1 buah,1,buah
37,PROD-0000038,KTG-001,pisang 1 sisir,1,ssr
38,PROD-0000039,KTG-001,rambutan 1 kg,1,kg
39,PROD-0000040,KTG-001,salak 1 kg,1,kg
40,PROD-0000041,KTG-001,semangka 1 buah,1,buah

SOAL-1 
Dalam dataframe data tambahkan kolom nama produk

In [48]:
data['nama_produk'] = produk['nama_produk']
data[0:42]

#untuk menambahkan nama produk di data sebelah ke data yang ini

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama_produk
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml)
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus)
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons)
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN

In [49]:
data.loc[(data['kode_produk'] >= "PROD-000001") & (data['kode_produk'] <= "PROD-0000041"), 'harga_berlaku_cabang'].sum()

573628500

SOAL - 2
buat Dataframe jumlah_produk yang menunjukkan jumlah produk 1 sampai 41 beserta total barang

In [51]:
results = []
for i in range(1,41):
    kode_produk = f'PROD-00000{i:02d}'
    total_harga = sum(data[(data['kode_produk'] == kode_produk)]['harga_berlaku_cabang'])
    results.append({'kode_produk': kode_produk, 'total_harga' : total_harga})

df = pd.DataFrame(results)
print(df)

data['total'] = df['total_harga']
data.head(42)

     kode_produk  total_harga
0   PROD-0000001     12723420
1   PROD-0000002      4700600
2   PROD-0000003      6966440
3   PROD-0000004      9085770
4   PROD-0000005      7905370
5   PROD-0000006      9152520
6   PROD-0000007      5134390
7   PROD-0000008      1209790
8   PROD-0000009      5349880
9   PROD-0000010      1225130
10  PROD-0000011      1340010
11  PROD-0000012      3946250
12  PROD-0000013     14000790
13  PROD-0000014     13133790
14  PROD-0000015     21401410
15  PROD-0000016    110846860
16  PROD-0000017      1381190
17  PROD-0000018      9869490
18  PROD-0000019      6773710
19  PROD-0000020      6001690
20  PROD-0000021     13409960
21  PROD-0000022     81458440
22  PROD-0000023     16202460
23  PROD-0000024     16638300
24  PROD-0000025     11276380
25  PROD-0000026      1003320
26  PROD-0000027     13566430
27  PROD-0000028     61880180
28  PROD-0000029      6963260
29  PROD-0000030      4537550
30  PROD-0000031     20257210
31  PROD-0000032      5637540
32  PROD-0000033     17412090
33  PROD-0000034     22374090
34  PROD-0000035      6719340
35  PROD-0000036     34259630
36  PROD-0000037      5648950
37  PROD-0000038      6745690
38  PROD-0000039      6086710
39  PROD-0000040     16618470

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama_produk,total
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg,12723420.0
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg,4700600.0
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg,6966440.0
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg,9085770.0
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg,7905370.0
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg,9152520.0
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg,5134390.0
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg,1209790.0
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg,5349880.0
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg,1225130.0
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg,1340010.0
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg,3946250.0
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml),14000790.0
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg,13133790.0
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg,21401410.0
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus),110846860.0
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml,1381190.0
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml,9869490.0
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons),6773710.0
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons,6001690.0
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg,13409960.0
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg,81458440.0
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml,16202460.0
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken,16638300.0
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l,11276380.0
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik,1003320.0
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg,13566430.0
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg,61880180.0
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg,6963260.0
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg,4537550.0
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg,20257210.0
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda,5637540.0
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg,17412090.0
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg,22374090.0
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg,6719340.0
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg,34259630.0
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah,5648950.0
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir,6745690.0
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg,6086710.0
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg,16618470.0
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah,NaN
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN,NaN

In [52]:
results = []
for i in range(1, 41):
    kode_produk = f'PROD-00000{i:02d}'
    total_produk = len(data[(data['kode_produk'] == kode_produk )])
    results.append ({'kode_produk': kode_produk, 'total_produk' : total_harga})

df = pd.DataFrame(results)
print(df)

data['jumlah_produl'] = df['total_produk']
data.head(42)

     kode_produk  total_produk
0   PROD-0000001      16618470
1   PROD-0000002      16618470
2   PROD-0000003      16618470
3   PROD-0000004      16618470
4   PROD-0000005      16618470
5   PROD-0000006      16618470
6   PROD-0000007      16618470
7   PROD-0000008      16618470
8   PROD-0000009      16618470
9   PROD-0000010      16618470
10  PROD-0000011      16618470
11  PROD-0000012      16618470
12  PROD-0000013      16618470
13  PROD-0000014      16618470
14  PROD-0000015      16618470
15  PROD-0000016      16618470
16  PROD-0000017      16618470
17  PROD-0000018      16618470
18  PROD-0000019      16618470
19  PROD-0000020      16618470
20  PROD-0000021      16618470
21  PROD-0000022      16618470
22  PROD-0000023      16618470
23  PROD-0000024      16618470
24  PROD-0000025      16618470
25  PROD-0000026      16618470
26  PROD-0000027      16618470
27  PROD-0000028      16618470
28  PROD-0000029      16618470
29  PROD-0000030      16618470
30  PROD-0000031      16618470
31  PROD-0000032      16618470
32  PROD-0000033      16618470
33  PROD-0000034      16618470
34  PROD-0000035      16618470
35  PROD-0000036      16618470
36  PROD-0000037      16618470
37  PROD-0000038      16618470
38  PROD-0000039      16618470
39  PROD-0000040      16618470

,kode_produk,tgl_berlaku,kode_cabang,harga_berlaku_cabang,modal_cabang,biaya_cabang,tambahan_modal,nama_produk,total,jumlah_produl
0,PROD-0000001,2008-01-01 00:00:00,CABANG-039,10980,10380,190,15380,bawang merah 1kg,12723420.0,16618470.0
1,PROD-0000002,2008-01-01 00:00:00,CABANG-039,4220,4040,10,9040,bawang putih 1 kg,4700600.0,16618470.0
2,PROD-0000003,2008-01-01 00:00:00,CABANG-039,6220,5900,90,10900,buncis 1 kg,6966440.0,16618470.0
3,PROD-0000004,2008-01-01 00:00:00,CABANG-039,8020,7620,60,12620,kacang panjang 1 kg,9085770.0,16618470.0
4,PROD-0000005,2008-01-01 00:00:00,CABANG-039,7210,6860,10,11860,kacang hijau 1 kg,7905370.0,16618470.0
5,PROD-0000006,2008-01-01 00:00:00,CABANG-039,8110,7770,10,12770,kentang 1 kg,9152520.0,16618470.0
6,PROD-0000007,2008-01-01 00:00:00,CABANG-039,4640,4440,20,9440,ketimun 1 kg,5134390.0,16618470.0
7,PROD-0000008,2008-01-01 00:00:00,CABANG-039,1060,1000,0,6000,kobis 1 kg,1209790.0,16618470.0
8,PROD-0000009,2008-01-01 00:00:00,CABANG-039,4690,4500,80,9500,tomat 1 kg,5349880.0,16618470.0
9,PROD-0000010,2008-01-01 00:00:00,CABANG-039,1100,1040,30,6040,ubi kayu basah 1 kg,1225130.0,16618470.0
10,PROD-0000011,2008-01-01 00:00:00,CABANG-039,1210,1150,30,6150,ubi jalar 1 kg,1340010.0,16618470.0
11,PROD-0000012,2008-01-01 00:00:00,CABANG-039,3440,3250,30,8250,wortel 1 kg,3946250.0,16618470.0
12,PROD-0000013,2008-01-01 00:00:00,CABANG-039,12280,11620,120,16620,susu kotak (800 ml),14000790.0,16618470.0
13,PROD-0000014,2008-01-01 00:00:00,CABANG-039,11520,11060,60,16060,telur ayam ras 1 kg,13133790.0,16618470.0
14,PROD-0000015,2008-01-01 00:00:00,CABANG-039,18880,17940,10,22940,telur ayam kampung 1 kg,21401410.0,16618470.0
15,PROD-0000016,2008-01-01 00:00:00,CABANG-039,96580,91220,630,96220,mie instant 1 kotak (40 bungkus),110846860.0,16618470.0
16,PROD-0000017,2008-01-01 00:00:00,CABANG-039,1200,1150,20,6150,air mineral 600 ml,1381190.0,16618470.0
17,PROD-0000018,2008-01-01 00:00:00,CABANG-039,8960,8510,170,13510,jus kesehatan 600 ml,9869490.0,16618470.0
18,PROD-0000019,2008-01-01 00:00:00,CABANG-039,6060,5760,100,10760,nasi goreng instant (1 ons),6773710.0,16618470.0
19,PROD-0000020,2008-01-01 00:00:00,CABANG-039,5240,4990,70,9990,snack gurih 1 ons,6001690.0,16618470.0
20,PROD-0000021,2008-01-01 00:00:00,CABANG-039,12100,11500,210,16500,kacang goreng 1 kg,13409960.0,16618470.0
21,PROD-0000022,2008-01-01 00:00:00,CABANG-039,70280,67180,980,72180,kacang mete 1 kg,81458440.0,16618470.0
22,PROD-0000023,2008-01-01 00:00:00,CABANG-039,14170,13400,340,18400,markisa 600 ml,16202460.0,16618470.0
23,PROD-0000024,2008-01-01 00:00:00,CABANG-039,14940,14190,340,19190,bumbu fried chicken,16638300.0,16618470.0
24,PROD-0000025,2008-01-01 00:00:00,CABANG-039,10160,9690,0,14690,susu kotak 1 l,11276380.0,16618470.0
25,PROD-0000026,2008-01-01 00:00:00,CABANG-039,900,860,10,5860,minuman probiotik,1003320.0,16618470.0
26,PROD-0000027,2008-01-01 00:00:00,CABANG-039,12140,11500,90,16500,jeruk 1 kg,13566430.0,16618470.0
27,PROD-0000028,2008-01-01 00:00:00,CABANG-039,54670,52460,1340,57460,apel 1 kg,61880180.0,16618470.0
28,PROD-0000029,2008-01-01 00:00:00,CABANG-039,6060,5760,130,10760,alpukat 1 kg,6963260.0,16618470.0
29,PROD-0000030,2008-01-01 00:00:00,CABANG-039,4010,3810,80,8810,belimbing 1 kg,4537550.0,16618470.0
30,PROD-0000031,2008-01-01 00:00:00,CABANG-039,18030,16960,60,21960,durian 1 kg,20257210.0,16618470.0
31,PROD-0000032,2008-01-01 00:00:00,CABANG-039,5040,4790,60,9790,kelapa muda,5637540.0,16618470.0
32,PROD-0000033,2008-01-01 00:00:00,CABANG-039,15690,14900,90,19900,mangga 1 kg,17412090.0,16618470.0
33,PROD-0000034,2008-01-01 00:00:00,CABANG-039,19720,18670,170,23670,Manggis 1 kg,22374090.0,16618470.0
34,PROD-0000035,2008-01-01 00:00:00,CABANG-039,6050,5690,20,10690,nenas 1 kg,6719340.0,16618470.0
35,PROD-0000036,2008-01-01 00:00:00,CABANG-039,30060,28850,570,33850,nangka 1 kg,34259630.0,16618470.0
36,PROD-0000037,2008-01-01 00:00:00,CABANG-039,4990,4740,20,9740,pepaya 1 buah,5648950.0,16618470.0
37,PROD-0000038,2008-01-01 00:00:00,CABANG-039,5990,5680,90,10680,pisang 1 sisir,6745690.0,16618470.0
38,PROD-0000039,2008-01-01 00:00:00,CABANG-039,5480,5170,130,10170,rambutan 1 kg,6086710.0,16618470.0
39,PROD-0000040,2008-01-01 00:00:00,CABANG-039,15090,14310,220,19310,salak 1 kg,16618470.0,16618470.0
40,PROD-0000041,2008-01-01 00:00:00,CABANG-039,12870,12320,30,17320,semangka 1 buah,NaN,NaN
41,PROD-0000001,2008-01-02 00:00:00,CABANG-039,11070,10550,60,15550,NaN,NaN,NaN